<div class="row valign-wrapper">
    <h2 class="center-align">Ici, Trouver un professionnel pour vos traveaux, en quelques cliques</h2>
</div>
<div class="row">
    <div class=" col s6 offset-s3">
        <ul materialize="collapsible" class="s6  collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">build</i>Vous avez des traveaux à réaliser ?</div>
                <div class="collapsible-body">
                    <p>Effectuez une demande devis en ligne et recevez juste 15 propositions de professionnels averés GRATUITEMENT!
                        Comparez les devis et selectionnez le professionnel de votre choix
                    </p>
                    <a routerLink="/new-devis" class="waves-effect waves-light btn-large">Demander un devis maintenant</a>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">business_center</i>Vous êtes un professionnel?</div>
                <div class="collapsible-body">
                    <p>Créer un compte et recevez chaque jour des demandes de devis correspondant à votre activité.</p>
                    <a routerLink="/pro/register" class="waves-effect waves-light btn-large">Créer un compte</a>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">thumb_up</i>Rapide, flexible, Sécurisé</div>
            </li>
        </ul>
    </div>
</div>